{% extends "base.html" %}

{% set tag = get_request_path(offset=1) %}

{% block title %}
    <title>
            Posts tagged in {{tag}}
    </title>
{% endblock %}

{% block body %}
    {% set postlist = get_data(type='post', tags=tag) %}
    {% set pagination = get_paginator(1) %}
    {% set cover = site.cover %}

    <header class="main-header detail-page image-bg {%if cover %}has-cover" style="background-image: url({{ cover }}){% else %}no-cover{% endif %}">

        <h1 class="page-title">{{tag}}</h1>
        <h2 class="page-description">Posts tagged in "{{tag}}"</h2>

        {% include "partials/navigation.html" %}
    </header>

    {% include "partials/loop.html" %}
{% endblock %}

